<app-header></app-header>
<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="card shadow bg-white rounded">
                <div class="card-header bg-white">
                    <h1>Add to vaccinated List</h1>
                </div>
                <div class="card-body">
                    <div class="form-group">
                        <label for="Name">Name</label>
                        <input type="text" class="form-control" placeholder="Enter your name">
                    </div><br>
                    <div class="form-group">
                        <label for="Name">Email</label>
                        <input type="text" class="form-control" placeholder="Enter your email address">
                    </div><br>
                    <div class="form-group">
                        <label for="Name">Phone No</label>
                        <input type="text" class="form-control" placeholder="Enter your phone number">
                    </div><br>
                  
                    <label for="Name">Gender</label>
  
                  <div class="form-check">
                    <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" checked>
                    <label class="form-check-label" for="exampleRadios2"> 
                      Female
                    </label>
                  </div> 
                  <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2">
                        <label class="form-check-label" for="exampleRadios2">
                          Male
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios3" value="option3" >
                        <label class="form-check-label" for="exampleRadios3">
                         Transgender
                        </label>
                      </div><br>
                    <div class="form-group">
                        <label for="Name">Aadhar Card</label>
                        <input type="text" class="form-control" placeholder="Enter your aadhar card number">
                    </div><br>
                    <label for="Name">Are you a health worker?</label>
                    <div class="form-check">
                       
                        <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios4" value="option1" checked>
                        <label class="form-check-label" for="exampleRadios4">
                        Yes
                        </label>
                      </div>
                      <div class="form-check">
                        <input class="form-check-input" type="radio" name="exampleRadios1" id="exampleRadios5" value="option2">
                        <label class="form-check-label" for="exampleRadios5">
                          No
                        </label>
                      </div>
                     <br>
                    <div class="form-group">
                        <label for="Name">District</label>
                         <select id="inputState" class="form-control">
                              <option selected value="0">Choose your district</option>
                              <option value="14">Kasargod</option>
                              <option value="13">Kannur</option>
                              <option value="12">Wayanad</option>
                              <option value="11">Kozhikode</option>
                              <option value="10">Malappuram</option>
                              <option value="9">Palakkad</option>
                              <option value="8">Thrissur</option>
                              <option value="7">Ernakulam</option>
                              <option value="6">Idukki</option>
                              <option value="5">Kottayam</option>
                              <option value="4">Alappuzha</option>
                              <option value="3">Pathanamthitta</option>
                              <option value="2">Kollam</option>
                              <option value="1">Thiruvananthapuram</option>
                            </select>   
                   <!--  -->
                    </div><br>
                    <div class="form-group">
                        <label for="Name">Address</label>
                        <textarea class="form-control"></textarea>                    
                    </div><br>
                    <div class="form-group">
                        <label for="Name">Health Condition</label>
                         <select id="inputState" class="form-control">
                              <option selected value="0">Choose your health condition</option>
                              <option value="1">Diabetes</option>
                              <option value="2">Cancer</option>
                              <option value="3">Heart Problems</option>
                              <option value="4">Others</option>
                            </select>   
                   <!--  -->
                    </div><br>
                    <div class="form-group">
                        <label for="Name">Centre for vaccination</label>
                         <select id="inputState" class="form-control">
                              <option selected value="0">Choose your vaccination centre</option>
                              <option value="1">centre1 from district table</option>
                              <option value="2">centre1 from district table</option>
  
                            </select>   
                   <!--  -->
                    </div><br>
                    <div class="form-group">
                        <label for="Name">Vaccination Time</label>
                        <input type="text" class="form-control" placeholder="Enter the vaccination time">
                    </div><br>
                    <div class="d-grid mt-4">
                        <button class="btn btn-primary">Add to vaccinated list</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
