<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">CVM</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="/registration"><i
              class="fa fa-user-plus" aria-hidden="true"></i> Register For Vaccine</a>
        </li>
        <li class="nav-item" *ngIf="_auth.loggedIn()">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/admin/addcentre">
            <i class="fas fa-plus-circle"></i>Add Vaccination Centre</a>
        </li>
        <li class="nav-item" *ngIf="!_auth.loggedIn()">
          <a class="nav-link " aria-current="page" routerLinkActive="active" routerLink="/login"><i
              class="fa fa-sign-in" aria-hidden="true"></i> Login</a>
        </li>
        <li class="nav-item" *ngIf="_auth.loggedIn()">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/admin/vaccination"> <i
              class="fa fa-users" aria-hidden="true"></i> Vaccination Requests</a>
        </li>
        <li class="nav-item" *ngIf="_auth.loggedIn()">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/admin/beneficiary"><i
              class="fa fa-address-book" aria-hidden="true"></i> Beneficiary</a>
        </li>
        <li class="nav-item" *ngIf="_auth.loggedIn()">
          <a class="nav-link" aria-current="page" routerLinkActive="active" routerLink="/vaccinatedlist"><i
              class="fa fa-thermometer-half" aria-hidden="true"></i> Vaccinated People</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto" *ngIf="_auth.loggedIn()">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="fa fa-user"></i>
            Admin
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <!-- <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>-->
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" style="cursor: pointer;" *ngIf="_auth.loggedIn()"
                (click)="logoutUser()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>